---
layout: default
---

<div class="posts">
    {% assign pagecat = page.category | downcase | replace: " ", "-" %} 
    {% for post in site.categories[page.category] %}
    <div class="post">
        <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.image }}" /></a>

        <div class="post-info">
            <div class="date">{{ post.published | date: "%b %d, %Y" }}</div>
            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">{{ post.title }}</a>
        </div>
    </div>
    {% endfor %}
</div>
