<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
        {% include meta.html %}
    </head>

    <body>
        <div class="wrapper wrapper-topbar">
            <div class="topbar">
                <a href="https://stadium.software/" class="logo"></a>
                <div class="navigation">
                    <a href="https://linx.software/">Main</a>
                    <a href="{{ site.baseurl }}/">Blog</a>
                    <a href="https://linx.software/docs">Docs</a>
                    <a href="https://community.linx.software">Community</a>
                </div>
            </div>
        </div>
        <div class="wrapper wrapper-content">
            <div class="content">
                <div class="sidebar">
                    <div class="sidebar-container">
                        {% if site.categories.size > 0 %}
                        <div class="sidebar-section">
                            <h4>Categories</h4>
                            {% assign sorted_cats = site.categories | sort %} {% for category in sorted_cats %} {% assign lower_cat = category | first |
                            downcase %} {% if lower_cat == page.category %}
                            <a class="category selected" href="#">{{ category | first | capitalize }}</a>
                            {% else %}
                            <a class="category" href="{{ site.baseurl }}/category/{{ category | first }}/">{{ category | first | capitalize }}</a>
                            <div class="divider"></div>
                            {% endif %} {% endfor %}
                        </div>
                        {% endif %}
                        <div class="sidebar-section newsletter-signup">
                            <h4>Newsletter</h4>
                            <div id="newsletterMsg">Stay up to date with Stadium</div>
                            <div class="signup" id="newsletter">
                                <!-- SharpSpring Form for Stadium newsletter  -->
                                <script type="text/javascript">
                                    var ss_form = { account: "MzawMDE1NzI0AwA", formID: "S0w2SjYzNDbWNU6zMNc1SUyz1E2yTDLWTTVKNLWwMEi0SDVJAgA" };
                                    ss_form.width = "100%";
                                    ss_form.domain = "app-3QN8IOA3RO.marketingautomation.services";
                                    // ss_form.hidden = {'field_id': 'value'}; // Modify this for sending hidden variables, or overriding values
                                    // ss_form.target_id = 'target'; // Optional parameter: forms will be placed inside the element with the specified id
                                    // ss_form.polling = true; // Optional parameter: set to true ONLY if your page loads dynamically and the id needs to be polled continually.
                                </script>
                                <script type="text/javascript" src="https://koi-3QN8IOA3RO.marketingautomation.services/client/form.js?ver=2.0.1"></script>
                            </div>
                        </div>
                        {% if site.tags.size > 0 %}
                        <div class="sidebar-section">
                            <h4>Tags</h4>
                            {% assign sorted_tags = site.tags | sort %} {% for tag in sorted_tags %}
                            <a class="tag" href="{{ site.baseurl }}/tag/{{ tag | first }}/">{{ tag | first }}</a>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="content-container">{{ content }}</div>
            </div>
        </div>
        <div class="wrapper wrapper-footer">
            <div class="footer">
                <span>Copyright © 2022</span> <a href="https://www.twenty57.com">Twenty57</a> <span>|</span> <a href="/contact">Contact Us</a> <span>|</span>
                <a href="/support">Support</a> <span>|</span>
                <a href="https://community.stadium.software/community/">Community</a>
            </div>
        </div>
        <div title="Back to top" class="scrollToTop"></div>
        <script src="{{ site.baseurl }}/assets/index.js"></script>
        {% include analytics.html %}
    </body>
</html>
