---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $roboto;
  color: $darkGray;
}

.container {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

.main-column-layout {
  display: grid;
  grid-template-columns: $sidebarWidth 1fr;
  gap: 16px;

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.categories-container {
  position: absolute;
  text-align: right;
  position: sticky;
  top: 0;
  display: inline-block;
  max-width: $sidebarWidth;
  padding: 0 20px;

  .categories {
    padding-bottom: 20px;
  }
  
  @include mobile {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $robotolight;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

#title {
  text-align: center;
  h1 { 
    font-size: 38px;
    line-height: 50px;
    padding-bottom: 28px;
  }
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 20px;
  background-color: #f1f1f1;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;
  color: $white;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 125px;
  height: auto;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    margin-top:20px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $white;
  cursor: pointer;
  font-family: $robotolight;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $white;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $robotolight;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $gray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
    }
  }
  a:hover {
    color: $gray;
    text-decoration: underline;
  }
}

//
// .main
//

.listitem {
  display:block;
  cursor: pointer;
}

.listitem:hover {
  text-decoration: underline;
}
.content-container {
  display: flex;
  justify-items: center;
}

.posts {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 100%;
}

.posts > .post {
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  padding-bottom: 1em;
  border-bottom: 1px solid $lightGray;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
}

.post-info {
  padding: 6px;
  a {
    display: block;
  }
  .date {
    font-style: inherit;
    color: $gray;
    font-size: $fontSize;
  }
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }

  .entry img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}
.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}
.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
